* {
    border-radius: 0 !important;
}

.bg-orange{
    color : brown;
    background-color: orange;
    padding: 10px;
    margin-bottom: 10px;

}

.text-center{
    text-align: center;
}

h1 {
    color: red;
}